In [4]:
# Import the json module.
import json
# Assign the string data to a variable. 
data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"

data = data.replace("'",'"')
# Convert the string data to a dictionary.
converted_data = json.loads(data)
# Iterate through the dictionary (row) and get the values.
row_values = [v for k, v in converted_data.items()]
data_keys = [k for k, v in converted_data.items()]
print(row_values)
print(data_keys)

[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']
['contact_id', 'name', 'email']

In [6]:
# Import the regular expression module.
import re
# Assign the string data to a variable. 
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"
# Extract the four digit number.
contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

['4661']

In [9]:
# Import the Pandas dependency.
import pandas as pd


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("../CSVs/contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [12]:
# Extract the four-digit contact ID number.
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')

In [14]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']